$font-main: 14px/1.5 "Lucida Grande", "Lucida Sans", sans-serif;
$headers-color: #c11e23;
$form-bg: #f0efee;
$basic-color: #333;
$basic-inverse:#eee;


@mixin border-radius($lt,$rt,$br,$bt){
    -webkit-border-radius: $lt $rt $br $bt;
    -moz-border-radius: $lt $rt $br $bt;
    -ms-border-radius: $lt $rt $br $bt;
     border-radius: $lt $rt $br $bt;
} 
@mixin shadow-inside ($rad, $col){
    -webkit-border-radius: inset 0 0 $rad 0 $col;
    -moz-border-radius: inset 0 0 $rad 0 $col;
    -ms-border-radius: inset 0 0 $rad 0 $col;
    box-shadow:inset 0 0 $rad 0 $col;
}

@mixin move ($deg){
     -moz-transform: rotate($deg); 
    -ms-transform: rotate($deg); 
    -webkit-transform: rotate($deg);    
    transform: rotate($deg);
}
@mixin nice-appear($time){    
    animation: animationFrames ease $time;
    -webkit-animation: animationFrames ease $time;  
    -moz-animation: animationFrames ease $time;
    -ms-animation: animationFrames ease $time; 
}

@keyframes animationFrames{
    0% {
        opacity:0;  
    }
    50% {
        opacity:0.5; 
    }
    100% {
        opacity:1;    
    }
}

@-moz-keyframes animationFrames{
    0% {
        opacity:0;  
    }
    50% {
        opacity:0.5; 
    }
    100% {
        opacity:1;    
    }
}

@-webkit-keyframes animationFrames {
    0% {
        opacity:0;  
    }
    50% {
        opacity:0.5; 
    }
    100% {
        opacity:1;    
    }
}

@-ms-keyframes animationFrames {
    0% {
        opacity:0;  
    }
    50% {
        opacity:0.5; 
    }
    100% {
        opacity:1;    
    }
}

// left and right section to display information 
#artist-data{
     text-align: center;
 }
 #podcast {
	position:relative;
	margin: 1em 0;
    padding: 0 1em;
    max-height:35em;
    overflow-y: auto;
     
	#countryTop, #podcastSimilar {
		padding: 1%;
		overflow:hidden;
		text-align: left;
       
		li {
			list-style: none;
			background-color: $basic-color;
			position: relative;
            @include border-radius(5px, 5px, 5px, 5px);
			margin: 1%;
            max-width: 130px;
            height: 6.5em;
			display:inline-block;
			overflow:hidden;
            a {    
                display: none;
                top: 0;
                left:0;
				background-color: $basic-color;
				font-size: .9em;
                text-align: center;
                position: absolute;
                width: 100%;
                padding-top: .4em;
                height: 7em;
			}
		}
		li:hover{           
				a {
                    display:block;              
                }			
		}
	}
 }
 
 #social {
    clear: both;
	margin: 1em 0;
	text-align: right;   
	a{
		display: inline-block;
		width: 5.5783333%;
        min-width: 50px;
        margin-top: 1em;
	}
 }
 span.social {
		display: block;
        height: 50px;
    }
span.social:hover {
    @include move(15deg);
}
.fb {
   background-position: -207px -48px;
}
.twit {
   background-position: -27px -173px;
}
.github {
    background-position: -299px 0;
}




                                    // styles to show new information 
#main-artist {
    width: 70%;
    float: left;
    text-align: center;
}
#todo-btns {
    width: 30%;
    float: left;
    padding: 0;
    margin: 0;
}

a.singer-name {
	color: $headers-color;
	font-weight: bold;
}

#user-menu.aside-menu{
    width: 30%;
    float: left;
    margin-right: 0;
    padding: 1%;
    overflow: hidden;
    
}
#podcast.main-content{
    width: 65%;
    max-height: 400px;
    overflow-x: hidden;
    overflow-y: auto;
    float: left;
    margin-right: 5%;
    text-align: justify;
    @include nice-appear(3s);

}
.artist-image{
    float: left;
    margin: 1%;
    margin-right: 3%;
}

#helper {
    width: 50%;
    text-align: left;
    height: auto;
    display: none;
    color:$basic-color;
    position: absolute;
    z-index:10;
    right:1%;
    padding: 1em;
    margin-top: 1em;
    background-color: $form-bg;
    @include border-radius(5px, 5px, 5px, 5px); 
    @include nice-appear(2s);
}
													
	                     