<section class="col-lg-4 col-md-5 col-sm-5 col-xs-12" >
	<div class = artist-main>
    		<img class="img-responsive" ng-src ="{{artistBio.src}}" alt="{{item}}">
    		<a ng-href="#/{{item}}" class ="btn btn-success">{{item}}</a>
  </div>
  <div class="artist-btn">
      <a ng-href="#/{{item}}/Top Songs" class ="btn btn-default">
        <span class="glyphicon glyphicon-music"></span> Top Songs
      </a>
      <a ng-href="#/{{artist.name}}/Similar Artists" class ="btn btn-default">
        <span class="glyphicon glyphicon-thumbs-up"></span> Similar Artists
      </a>
      <a ng-href="#/{{artist.name}}/Video on YouTube" class ="btn btn-default">
        <span class="glyphicon glyphicon-facetime-video"></span> Video on Youtube
      </a>
  </div>
</section>
<section class="col-lg-8 col-md-7 col-sm-7 col-xs-12">
	<article class ="bio">
      <img class="img-responsive" ng-src ="{{artistBio.src}}" alt="{{item}}">
      <p ng-bind-html="artistBio.text|sanitize">{{artistBio.text}} <br> &copy; LastFM</p>

  </article>
</section>