<section class="col-lg-4 col-md-5 col-sm-5 col-xs-12" >
    <img class="img-responsive artist-main" ng-src ="{{artistBio.src}}" alt="{{item}}" ng-hide="hide" >
    <div class="artist-menu">
        <h3 class="podcast-header"> {{item|uppercase}}</h3>
        <a ng-href="#/{{item}}/bio" class ="btn btn-default" ng-click="hide = true" ng-init="hide=true">
            <span class="glyphicon glyphicon-bold"></span> iography
        </a>
        <a ng-href="#/{{item}}/top-songs" class ="btn btn-default" ng-click="hide=false"}>
            <span class="glyphicon glyphicon-music"></span> Top Songs
        </a>
        <a ng-href="#/{{item}}/similar-artists" class ="btn btn-default"  ng-click="hide=false">
            <span class="glyphicon glyphicon-thumbs-up"></span> Similar Artists
        </a>
        <a ng-href="#/{{item}}/youtube-videos" class ="btn btn-default"  ng-click="hide=false">
            <span class="glyphicon glyphicon-facetime-video"></span> Video on Youtube
        </a>
    </div>
</section>
<section class="col-lg-8 col-md-7 col-sm-7 col-xs-12 subview" ui-view ng-animate="'animate'">

</section>