<div id="podcast">
    <h3 class="podcast-header"> {{header}}</h3>
    <ul class="podcast">
        <li class="col-lg-2 col-md-3 col-sm-4" ng-repeat="artist in artists">
            <div class="thumbnail">
                <a ng-class="{active: item.selected}" ng-href="#/{{artist.name}}/bio">
                    <img class="block-centered" ng-src ="{{artist.image[3]['#text']}}" alt="{{artist.name}}">
                    <span class="block-centered">{{artist.name}}</span>
                </a>
            </div>
        </li>
    </ul>
</div>

