// pink theme for all parties
.pink {
  background-color: $basic-inverse;
  font-family: 'Monotype Corsiva', monotype;
  font-size: 16px;
  a.artist-song {
    color: $pink-main;
  }
  main{
    background: #F2E9E9 url('../images/pink-bg.png') repeat-y 50% 0;
    font-size: 1em;

    .all-song-list li {
      .thumbnail {
        a {
          color: $pink-main;
        }
      }
    }
  }

  header.row, footer {
    background-color: $pink-main;
    color: #aaa;
  }
}
