                                    // styles for artist's main menu
.artist-main {
  margin: .5em auto;
  max-height: 170px;
}
.artist-menu {
  .btn {
    white-space: normal;
  }
  a {
    display: block;
    margin: .5em auto;
    padding: 1em .5em;
    word-wrap: break-word;

    span {
      margin-right: .4em;
    }
  }
}
.artist-bio {
  border: none;
  min-height: 500px;
  padding: .5em;

  img {
    margin: .5em;
    float: left;
  }
}

                                        // animation classes
.subview.ng-enter,
.subview.ng-leave {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
.subview.ng-enter {
  left: 100%;
}
.subview.ng-enter-active {
  left: 0;
}
.subview.slide.ng-leave {
  left: 0;
}
.subview.ng-leave-active {
  left: -150%;
}

                                  // query for different screens
@media (max-width: $xssmall) {
  .artist-main {
    display: none;
  }
  .artist-menu {
    text-align: center;

    a {
      color: white;
      display: inline-block;
      height: 50px;
      margin-right: 2%;
      overflow: hidden;
      padding: .3em;
      width: 50px;
      word-wrap: break-word;

      span {
        color: black;
        font-size: 2.5em;
        margin: 0 auto;
      }
    }
    .btn {
      &:hover {
        color: #ddd;
      }
    }
  }
  .artist-bio {
    img {
      float: none;
      margin: .5em auto;
      max-width: 70%;
    }
  }
}

@media (min-width: $xssmall_begin) and (max-width: $small) {
  .artist-main {
    float: left;
    max-width: 45%;
    margin-top: 1em;
  }
  .artist-menu{
    float: left;
    margin-left: 5%;
    width: 50%;

    a {
      display: block;
      margin-top: 1em;
      padding: .5em;
    }
  }
  .artist-bio {
    border-top: 1px solid #ddd;

    img {
      margin-right: 1em;
      max-width: 50%;
    }
  }
}

@media (min-width: $small_begin) and (max-width: $medium) {
  .artist-menu {
    a {
      margin-bottom: 1em;
      width: 80%;
    }
  }
  .artist-bio {
    img {
      float: left;
      margin: 1em;
      max-width: 50%;
    }
  }
}
@media (min-width: $largest) {
  .artist-main {
    float: left;
    margin: 2em auto;
    max-width: 50%;
  }
  .artist-menu {
    float: left;
    margin: 0;
    padding: 1em;
    width: 50%;
    a {
      margin-bottom: 1em;
      padding: 1em .5em;
      width: 90%;
    }
  }
  .artist-bio {
    img {
      margin-right: 1em;
      max-width: 70%;
    }
  }
}
