.podcast {
  list-style: none;
  padding: 0;
  overflow: hidden;
  li {
    .thumbnail {
      text-align: center;
      position: relative;
      overflow: hidden;
      padding: .5em;
      background-color: #444;
      a {
        display: block;    
        text-decoration: none;
        font-size: 1em;
        padding: 0;
        margin: 0;
        height: 170px;
        position:relative;
        img {          
          max-height: 160px;          
        }
        span {
          display: none;
          margin: 0 auto;
          background-color: $basic-inverse;
          color: $basic-color;
          border: 2px solid #ddd;
          border-radius: 4px;
        }
     }
     &:hover {
        span {
          display: block;
        }
     }
  }
}
}

.podcast-header {
  text-align: justify;
}

@media (min-width: $xssmall)and (max-width:$small) {
  .podcast {
    li {
      display: inline-block;
      width: 33%;
      padding: 0;
      .thumbnail {
        margin: .3em;
        a {
          height: 127px;
          margin: 0;
          overflow: hidden;
          text-align: center;
          vertical-align: middle;
          padding: 0;
          img {
            width: 100%;
            margin: auto auto;
          }

        }
      }
    }
  } 
}
@media (max-width: $xssmall) {
  main.row {
  padding: .15em;
  }
  .podcast {
      li {
      display: block;
      padding: 0;
      margin: 0;
      .thumbnail {
        border-radius: 0;
        padding:0;
        margin: 0;
        a {
        overflow: hidden;        
        padding: 0;
        height: 60px;
        display: block;
        line-height: 70px;
      
        span {
          display: inline;
          position: relative;
          width: 70%;
          background: none;
          border: none; 
          padding: 0; 
          font-size: 1.3em; 
          float: left;
          color: #eee;

           
        }
        img {
          display: block;      
          width: 60px;        
          float: left;
          height: 60px;
          position: relative;
          margin: auto;      
        }
       }
     }
    }
  } 
}
@media (min-width: $medium) {
  .podcast {
    li {
      .thumbnail {
        padding: .3em;
        height: 176px;
      }
    }
  }
}