.podcast {
  list-style: none;
  padding: 0;
  overflow: hidden;
  .thumbnail {
    position: relative;
      a {
      display: none;
      position: absolute;
      bottom: 2px;
      left: 2px;
      max-width: 90%;
      padding: .5em;
      text-decoration: none;
      text-align: center;
      background-color: $basic-inverse;
      color: $basic-color;
      border: 2px solid #ddd;
      border-radius: 4px;
      font-size: 1em;
      word-wrap: break-word;
     }
     &:hover {
        a {
          display: inline;
        }
     }
  }
}
.podcast-header {
  text-align: justify;
}

@media (max-width: $xssmall) {
  .podcast-header {
    font-size: 1em;
  }
 .podcast {
    .thumbnail {
        a {
          display: inline;
          font-size: .7em
        }
     }
  }
}

@media (min-width: $medium) and (max-width: $largest) {
  .thumbnail {
    max-width: 130px;
  }
}