.all-songs-list {
  margin-top: 2em;
  padding: 0;

  li {
    list-style: none;
    padding: 0;
    width: 100%;

    .thumbnail {
      margin: 0;
      overflow: hidden;
      padding: 2%;

      .btn-group {
        display: block;
        float: left;
        margin-right: 5%;
        overflow: hidden;
        width: 30%;
      }
      .artist-song {
        display: block;
        font-size: 1.5em;
        float: left;
        text-decoration: none;
        width: 65%;
        word-wrap: break-word;
      }
      &:hover {
        background-color: #8699a4;
      }
    }
  }
}
@media (max-width: $xssmall) {
  .all-songs-list {

    margin-top: 1em;
    padding: .5em;

    li {
      padding: 0;
      .thumbnail {
        .artist-song, .btn-group {
          font-size: 1em;
          text-align: center;
          width: 100%;
        }
      }
    }
  }
}
@media (min-width: $largest) {
  .all-songs-list {
    li {
      .thumbnail {
        .artist-song {
          font-size: 2em;
        }
      }
    }
  }
}