.podcast {
  list-style: none;
  padding: 0;
  overflow: hidden;
  .thumbnail {
    position: relative;    
      a {
      display: none;
      position: absolute;
      bottom: 2px;
      left: 2px;
      max-width: 90%;
      padding: .5em;
      text-decoration: none;
      text-align: center;
      background-color: $basic-inverse;
      color: $basic-color;
      border: 2px solid #ddd;
      border-radius: 4px;
      font-size: 1em;
      word-wrap: break-word;
     }
     &:hover {
        a {
          display: inline;
        }
     }
  }
}
.podcast-header {
  text-align: justify;
}

@media (min-width: $xssmall)and (max-width:$small) {
  .podcast {
    li {
      display: block;
      width: 33%;
      float: left;
    }
  } 
}
@media (max-width: $xssmall) {
  .podcast-header {
    font-size: 1em;
  }
 .podcast {
    li {
      display: block;
      .thumbnail {
        overflow: hidden;
        img {
          margin: 0;
          width: 80px;
          float: left;
          position: relative;
          vertical-align: middle;
        }
        a {
          display: block;
          float: left;
          width :50%;
          position: relative;
          background: none;
          border: none;
        }
      }    
    }
  } 
}
@media (min-width: $medium) and (max-width: $largest) {
  .thumbnail {
    max-width: 130px;
  }
}