* {
  @include vendor (box-sizing, border-box);
}
body {
  font: $font-main;
}
.block-centered {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
main {
  padding: 1em;
  position: relative;
}

@media (min-width: $largest) {
  .container-fluid {
    width: 90%;
  }
}

