* {
  @include vendor (box-sizing, border-box);
}

body {
  font: $font-main;
}

.block-centered {
  bottom: 0;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
}

main {
  padding: 1em;
  position: relative;
  }

@media (min-width: $largest) {
  .container-fluid {
    width: 90%;

    main {
      min-height: 700px;
    }
  }
}

