footer {
  background-color: $basic-color;
  padding-top: 1em;
  border-radius: 0 0 $border-radius $border-radius;
  .copyright {
    color: $basic-inverse;
    font-size: 0.8em;
  }
  .social-container {
    text-align: right;
    a {
      display: inline-block;
      width: 45px;
      margin-right: 2.34112%;
    }
    .disabled {
        opacity: 0.2;
    }
    span.social {
      background-image: url($facebook-image);
      display: block;
      height: $facebook-height;      
    }
    .fb {
      background-position: $facebook-offset-x $facebook-offset-y;
    }
    .twit {
      background-position: $twitter-offset-x $twitter-offset-y;
    }
    .github {
      background-position: $github-offset-x $github-offset-y;
    }
  }
}


