header.row {
  background-color: $headers-color;
  padding: 1em;
  border-radius: $border-radius $border-radius 0 0;
  .right {
    text-align: right;
  } 
  .img-responsive.logo {
    max-width: 8em;
  }
  .nav-head {
    li {
      display: inline-block;
      margin-left: 2.6%;        
      a {
        font-size: 3em;
        display: block;
        color: $basic-color;
        text-decoration: none;
        &:hover {
          color: $basic-color + 100;
         }
      }
    }
    .glyphicon {
      display: inline;
    }
    .dropdown-menu {
      left: -70px;
      margin-right: 3%;
      min-width: 10em;
      padding: 1em;      
      li{
        display: block;
      }
    }  
  }
} 

@media (max-width: $xssmall) {
  header.row {
    .img-responsive.logo {
      max-width: 150%;
    }
    .nav-head {
      li {
        a {
        font-size: 1.7em;
        }
      }
      .dropdown-menu {
       left: -100px;
      }
    }
  }  
}
