//@media (max-width: @screen-xs-max) {}
//@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {}
//@media (min-width: @screen-md-min) and (max-width: @screen-md-max) {

//}
@media (max-width: $xssmall) {
	.img-responsive.logo {
			max-width: 100%;
	}
	ul.nav-head li {
		margin-right: +.1em;
		a {
			font-size: 2em;
		}
		.dropdown-menu {
			left: -100px;
		}
	}	
}
@media (max-width: $largest) and (min-width: $medium) {
	
	
}
@media (min-width: $largest) {
	.container-fluid {
		width: 90%;
	}	
}


