$font-main: 14px/1.5 "Lucida Grande", "Lucida Sans", sans-serif;
$headers-color: #c11e23;
$form-bg: #f0efee;
$basic-color: #333;
$basic-inverse: #eee;

// media query sizes
$largest: 1200px;
$medium: 992px;
$small: 768px;
$xssmall: 480px;