$font-main: 14px/1.5 "Lucida Grande", "Lucida Sans", sans-serif;
$headers-color: #c11e23;
$form-bg: #f0efee;
$basic-color: #333;
$basic-inverse:#eee;

@mixin border-radius($lt,$rt,$br,$bt){
    -webkit-border-radius: $lt $rt $br $bt;
    -moz-border-radius: $lt $rt $br $bt;
    -ms-border-radius: $lt $rt $br $bt;
     border-radius: $lt $rt $br $bt;
} 
.img-responsive.logo {
    max-width: 50%;
}
.right {
    vertical-align: middle;
    text-align:right;
}
body {
    font:$font-main;    
}

header{
    background-color:$headers-color;
    padding:1em;
    @include border-radius(10px, 10px, 0, 0);
    .right {
        text-align: right;
    }
   
}
ul.nav-head {
    li {
        display: inline-block;
        margin-left: 2.6323%;        
        a {
            font-size: 4em;
            display: block;
            color: $basic-color;
            :hover {
                color: $basic-color + 100;
             }
        }
    }
    .glyphicon {
        dispaly:inline;
    }
     ul.dropdown-menu {
            margin-right: 3%;
            padding: 1em;
            min-width: 10em;
            left: -70px;
            li{
                display: block;
            }
        }  
}
main {
    overflow: hidden;
}
footer {
    background-color: $basic-color;
    padding-top: 1em;
    @include border-radius(0, 0, 10px, 10px);
    p {
        color: $basic-inverse;
        font-size: 0.8em;
    }  

}
#social {
    text-align: right;
    a {
        display: inline-block;
        width: 12.5783333%;
        min-width: 4.5em;
        margin-right: 2.34112%;
        :hover {
            border: 1px dotted grey;
        }
    }
    .disabled {
        opacity: 0.2;
    }
    span.social {
        background-image: url('../images/sprite.png');
        display: block;
        max-height: 50px;
        height: 50px;
        
    }
    .fb {
        background-position: -207px -48px;
    }
    .twit {
        background-position: -27px -173px;
    }
    .github {
        background-position: -299px 0;
    }
}

@import 'display.scss'